<div class="comment">
  <%= turbo_frame_tag dom_id(comment) do %>
    <p>
      <%= link_to comment.author_comment.decorate.capitalize_name, 
        account_path(comment.author_comment) %>
      &nbsp;&bull;&nbsp;
      <time datetime="<%= comment.formatted_created_at %>">
        <%= comment.formatted_created_at %>
      </time>
    </p>

    <p><%= strip_tags comment.body %></p>
    <div class="btn-group my-4" role="group">
      <%= link_to t('submit.simple_edit'), edit_comment_path(comment), 
          class: "btn btn-outline-dark me-2 btn-sm" if comment.author_comment == @account %>
      <% if comment.author_comment == @account || @comment.commentable.group_creator == @account %>
        <%= button_to t('submit.simple_delete'), comment_path(comment), method: :delete, 
          class: "btn btn-outline-dark btn-sm", :onclick => "return confirm('Are you sure?')", 
          :remote => true %>
      <% end %>
    </div>
  <% end %>
</div>
          