<p style='desplay:inline'>
  <%= link_to comment.author_comment.user_name, account_path(comment.author_comment), class: 'link' %>&emsp;&rarr;
  <%= comment.body %>
  <% if comment.author_comment == current_user.account %>
    <div class='col-8'>
      <%= turbo_frame_tag dom_id(comment) do %>
        <%= link_to t('submit.simple_edit'), edit_comment_path(comment), 
          class: "btn btn-outline-dark me-2 my-2" %>
      <% end %>
      <%= button_to t('submit.simple_delete'), comment_path(comment), method: :delete, 
        class: "btn btn-outline-dark me-2 my-2", :onclick => "return confirm('Are you sure?')", :remote => true %>
    </div>
  <% end %>
</p>