<% person = message.sender_message_id == @sender.id ? [@sender, 'You', 'sender'] : 
  [@recipient, @recipient.user_name, 'recipient'] %>
<section class="card <%= person[2] %> mt-2">
  <div class='card-body'>
    <span>
      <%= attribute_model(message, :author) %> <%= link_to person[1], account_path(person[0]) %>
    </span>
      <%= render partial: "accounts/messages/sender_buttons", locals: { message: message } if person[0] == @sender %>
      
      <p class='card-text'><%= message.body %></p>
  </div>
</section>
