<% provide :page_title, i18n_model_name(Group.new, count: 2) %>
<% currently_at i18n_model_name(Group.new, count: 2) %>
<%= group_page_name t('page.group.all_grops') %>

<article class='article'>
  <h2 class='mt-4 mb-2'><%= t('page.group.all_grops') %></h2>

  <% if @all_groups.try(:any?) %>
    <%= render @all_groups %>
    <div class='my-2'>
      <%== pagination(@pagy) %>
    </div>
  <% else %>
    <%= render 'blank' %>
  <% end %>
</artcile>
