<%= provide :main_menu do %>
  <header class="header">
    <div class="header_resize">
      <div class="logo">
        <h1>
          <%= nav_tab t("page.site_name"), posts_path, current_page: current_page %>
          <small><%= t("page.slogan") %></small>
        </h1>
      </div>
      <div class="clr"></div>
      <nav class="menu_nav">
        <ul>
          <li>
            <span>
              <%= nav_tab t("navbar.about"), about_path, current_page: current_page %>
            </span>
          </li>
          <li>
            <span>
              <%= nav_tab t("navbar.rules"), rules_path,  current_page: current_page %>
            </span>
          </li>
          <li>
            <%= nav_tab t("navbar.contacts"), contacts_path, current_page: current_page %>
          </li>   
          <% if user_signed_in? %>
            <li>
              <%= button_to t('nav.sign_out'), sign_out_path, method: :delete, form: {turbolink: false}, 
                  :onclick => "return confirm('Are you sure?')", :remote => true %>
            </li>
          <% else %>
            <li class="dropdown">
              <%= link_to t('navbar.entrance'), '#', class: "dropdown-toggle", role: "button",
                'data-bs-toggle': "dropdown", 'aria-expanded': "false" %>
              <ul class='dropdown-menu'>
                <li>
                  <%= nav_tab t('nav.sign_in'), sign_in_path, class: "dropdown-item", current_page: current_page %>
                </li>
                <li><hr class='dropdown-divider'></li>
                <li>
                  <%= nav_tab t('nav.sign_up'), sign_up_path, class: "dropdown-item", current_page: current_page %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="clr"></div>
<% end %>
