<%= provide :right_menu do %>
  <nav class="nav card mt-2">
    <div class='container card-body'>
      <ul class="navbar-nav text-center">
        <li class="nav-item card-title">
          <%= nav_tab_right i18n_model_name(Post.new, count: 2), posts_path, class: "nav-link line", current_page: current_page %>
        </li>
        <% if user_signed_in? && current_user.account.try(:present?) %> 
          <li class="nav-item card-title line">
            <%= nav_tab_right t("navbar.profile", user: current_user.account.user_name), 
              account_path(current_user), class: "nav-link", current_page: current_page %>
          </li>
          <li class="nav-item card-title line">
            <%= nav_tab_right i18n_model_name(Friendship.new, count: 2), 
            account_friendships_path(current_user.account), class: "nav-link", current_page: current_page %>
          </li>
          <li class="nav-item card-title line">
            <%= nav_tab_right i18n_model_name(Conversation.new, count: 2), account_conversations_path(current_user.account), 
              class: "nav-link", current_page: current_page %>
          </li>
          <li class="nav-item card-title">
            <%= nav_tab_right i18n_model_name(Group.new, count: 2),
            account_groups_path(current_user.account), class: "nav-link", current_page: current_page %>
          </li>
        <% elsif user_signed_in? && current_user.account.nil? %>
          <li class="nav-item card-title">
            <%= nav_tab_right t('link.add_new', model: i18n_model_name(Account.new, count: 1).downcase), 
              new_user_account_path(current_user), class: "nav-link", current_page: current_page%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>