<%= provide :right_menu do %>
  <nav class="gadget">
    <h2 class="star"><span><%= t('navbar.sidebar') %></span>&nbsp;<%= t('navbar.menu') %></h2>
    <div class="clr"></div>
    <ul class="sb_menu">
      <li>
        <%= nav_tab_right t('link.add_new', model: i18n_model_name(Account.new, count: 1).downcase), 
            new_account_path, current_page: current_page if current_user && !current_user.account.present? %>
      </li>
      <% if user_signed_in? && current_user.account.try(:present?) %> 
        <li>
          <%= nav_tab_right t("navbar.profile", user: current_user.account.user_name), 
              account_path(current_user.account), current_page: current_page %>
        </li>
        <li>
          <%= nav_tab_right i18n_model_name(Friendship.new, count: 2), 
              account_friendships_path(current_user.account), current_page: current_page %>
        </li>
        <li>
          <%= nav_tab_right i18n_model_name(Conversation.new, count: 2), 
              account_conversations_path(current_user.account), current_page: current_page %>
        </li>
      <li>
        <%= nav_tab_right i18n_model_name(Group.new, count: 2), account_groups_path(current_user.account), current_page: current_page %>
      </li>
      <% end %>
      <li>
        <%= nav_tab_right i18n_model_name(Post.new, count: 2), posts_path, current_page: current_page %>
      </li>
    </ul>
  </nav>
<% end %>
