<% provide :page_title, i18n_model_name(Friendship.new, count: 2) %>
<% currently_at i18n_model_name(Friendship.new, count: 2) %>

<article = class='article'>
  <div class='row row-cols-3'>
    <div class='col'>
      <h3 class='mt-4 mb-2'><%= i18n_model_name(Friendship.new, count: 2) %></h3>
      <div class="clr"></div>
      <% if @friends.try(:any?) %>
        <%= render @friends %>
        <div class='my-2'>
          <%== pagination(@pagy_friend) %>
        </div>
      <% else %>
        <p><%= t('page.friendship.blank') %></p>
      <% end %>
    </div>
    <div class='col'>
      <h3 class='mt-4 mb-2'> <%= i18n_model_name(Invite.new, count: 2) %></h3>
      <% if @invites_sender.try(:any?) %>
        <p><strong><%= t('page.invite.your_invite.you_are_sender') %></strong></p>
          <%= render @invites_sender %>
          <div class='my-2'>
            <%== pagination(@pagy_sender) %>
          </div>
      <% end %>
      <% if @invites_receiver.try(:any?) %>
        <p><strong><%= t('page.invite.users_invite.sender') %></strong></p>
        <%= render @invites_receiver %>
        <div class='my-2'>
          <%== pagination(@pagy_receiver) %>
        </div>      
      <% end %>
    </div>
    <div class='col'>
      <h3 class='mt-4 mb-2'><%= t('page.friendship.accounts') %></h3>
      <% if @accounts.any? %>
        <%= render @accounts %>
        <div class='my-2'>
          <%== pagination(@pagy_account) %>
        </div> 
      <% end %>
    </div>
  </div>
</article>