<article class="article">
  <p class="infopost">
    <%= attribute_model(post, :author) %>
    <%= link_to post.author_post.decorate.capitalize_name, account_path(post.author_post) %>
    &nbsp;&bull;&nbsp;
    <span class="me-4 date">
      <time datetime="<%= post.created_at %>">
        <%= post.formatted_created_at %>
      </time>
    <span>
    <span class='mx-5'>
      <% if post.comments.try(:any?) %>
        <%= link_to(post_path(post, anchor: anchor(post)), class: "com") do %>
          <%= i18n_model_name(Comment.new, count: 2) %>
          <i class="bi bi-chat"><span><%= post.comments.count %></span></i>
        <% end %>
      <% end %>
    </span>
  </p>
  <div class="clr"></div>
  <div class="post_content">
    <p>
      <%= truncate strip_tags(post.body), length: 300, omission: '... (continued)' %>
    </p>
    <p class="spec" >
      <%= link_to sanitize(t('link.show_post')), post_path(post), class: "rm" %>
    </p>
  </div>
  <div class="clr"></div>
</article>
