  <% provide :page_title, i18n_model_name(@post)%>
  <% currently_at %>
  
<article class='article'>
  <p class="infopost">
    <%= attribute_model(@post, :author) %>
    <%= link_to @post.author_post.decorate.capitalize_name, account_path(@post.author_post) %>
  </p>
  <p><%= strip_tags @post.body %></p>
  <p>
    <strong>
      <% if @comments.try(:any?) %>
        <%= link_to(post_path(@post,  anchor: anchor(@post))) do %>
          <%= i18n_model_name(Comment.new, count: 2) %>(<%= @post.comments.count %>)
        <% end %>
      <% end %>
    </strong>
    &nbsp;&bull;&nbsp;
    <time datetime="<%= @post.formatted_created_at %>">
      <%= @post.formatted_created_at %>
    </time>
  </p>
</artcile>

<% if @post.author_post == @account %>
  <div class="btn-group my-4" role="group">
    <%= link_to t('link.edit', model: i18n_model_name(@post).downcase), 
        edit_post_path(@post), class: "btn btn-outline-dark btn-sm me-2" %>
    <%= button_to t('submit.delete', model: i18n_model_name(@post).downcase), post_path(@post), 
        method: :delete, class: "btn btn-outline-dark btn-sm me-2", 
        :onclick => "return confirm('Are you sure?')", :remote => true %>
  </div>
<% end %>

<%= render partial: "comments/form", locals: { model: [@post, Comment.new], method: :post } %>

<section class='my-3'>
  <% if @comments.try(:any?) %>
    <h3 class='md-4'><%= i18n_model_name(Comment.new, count: 2) %></h3>
    <div class="clr"></div>
    <%= render @comments %>
    <div class='my-2'>
      <%== pagination(@pagy_comment) %>
    </div>
  <% end %>
</section>
