<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<%= simple_form_for account, url: url, method: method do |f| %>
      <%#= f.file_field :avatar, class:"form-control", id: "formFile" %><br />
			<%= f.input :user_name %><br />
			<%= f.label :gender %><br />
			<% Account::VALID_GENDERS.each do |item| %>
	  		<%= f.radio_button :gender, item , class: ' input-validation-error' %> <%= item %>
	  	<% end %><br /><br />
      <%= f.label :date_birthday %>
      <%= f.date_field :date_birthday, class: "form-control" %><br />
			<%= f.label :contry %>
			<%= f.select :country, Account::VALID_COUNTRY.collect { |country| [ country] }, { include_blank: true }, 
				{ class: "form-select", :'aria-label' => "Default select example" } %><br />
			<%= f.input :about_oneself %><br />
			<%= f.label :visibility %><br />
			<% Account::VALID_VISIBILITY.each do |item| %>
	  		<%= f.radio_button :visibility, item , class: ' input-validation-error' %> <%= item %>
	  	<% end %><br /><br />
			<%= f.button :submit, submit, class: "btn btn-light" %>			
		<% end %>		
	</div>
</div>
