<section class='profile'>
  <p>
    <strong><%= attribute_model(@account, :user_name) %>:&nbsp;</strong>
    <%= strip_tags @account.user_name %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :gender) %>:&nbsp;</strong>
    <%= @account.gender %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :date_birthday) %>:&nbsp;</strong>
    <%= @account.decorate_date_birthday %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :country) %>:&nbsp;</strong>
    <%= @account.country %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :about_oneself) %>:&nbsp;</strong>
    <%= strip_tags @account.about_oneself %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :visibility) %>:&nbsp;</strong>
    <%= @account.visibility %>
  </p>
  <p>
    <strong><%= attribute_model(@account, :state) %>:&nbsp;</strong>
    <%= @account.state %>
  </p>
  <p>
    <% if @hobbies.any?%>
      <strong><%= i18n_model_name(@hobbies, count: 2) %>:&nbsp;</strong>
      <%= render @hobbies %>
    <% end %>
  </p>
</section>