<section class='show_account'>
  <h1 class='md-4'><%= t('page.account.profile_of', user: @account.user_name.capitalize ) %></h1>
  <div class='row row-cols-2'>
    <div class='col'>
      <!-- user's profile -->
      <%= render 'profile' %>
    </div>
    <div class='col'>   
      <% if @account.user_id == current_user.id %>
        <!-- buttons for current user -->
        <%= render 'edit_buttons' %>
        <div class='col-8'>
          <%= turbo_frame_tag dom_id(@interest) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@interest).downcase), 
              new_account_interest_path(@account), class: "btn btn-outline-dark mt-2" %>
          <% end %>
        </div>
        <section class='my-2'>

        <!-- invites current user -->
          <% if @users_invites.any? %>
            <% @users_invites.each do |invite| %>
              <p>
                <%= t('page.invite.users_invite.sender') %>
                <%= link_to Account.find_by(id: invite.sender_invite_id).user_name, 
                  account_path(invite.sender_invite_id), class: 'link' %>
              </p>
              <div class="btn-group mt-2" role="group">
                <%= button_to t('page.users_invite.accept'), invite_friendships_path(invite), method: :post, 
                  class: "btn btn-outline-dark mx-2", role: 'button' %>
                <%= simple_form_for invite, url: account_invite_path(@account, invite), method: :put do |f| %>
                  <%= f.input :confirmed, as: :hidden, input_html: { value: 'canceled'} %>
                  <%= f.button :submit, t('page.invite.cancel'), class: "btn btn-outline-dark mx-2" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </section>
      <% else %>
        <%= turbo_frame_tag dom_id(@message) do %>
          <%= link_to t('link.message'), new_account_message_path(@account), 
            class: "btn btn-outline-dark mb-2", role: 'button' %>
        <% end %>
        <% if check_friendship?(current_user.account.id, @account.id) %>
          <%= t('page.friendship.exists') %>
          <% else %>
            <% if @yours_invite.present? %>
              <% if @yours_invite.confirmed == 'not' %>
                <p><%= t('page.invite.your_invite.not_confirmed') %></p>
                <%= simple_form_for @yours_invite, url: account_invite_path(@account, @yours_invite), method: :put do |f| %>
                  <%= f.input :confirmed, as: :hidden, input_html: { value: 'canceled'} %>
                  <%= f.button :submit, t('page.invite.cancel'), class: "btn btn-outline-dark mx-2" %>
                <% end %>
              <% else %>
                <p><%= t('page.invite.your_invite. canceled') %></p>
                <%= button_to t('page.account.send_invite'), account_invites_path(@account), method: :post, 
                  class: "btn btn-outline-dark mt-2", role: 'button' %>
              <% end %>
            <% else %>
              <%= button_to t('page.account.send_invite'), account_invites_path(@account), method: :post, 
                class: "btn btn-outline-dark mt-2", role: 'button' %>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</section>
<section>
  <!-- posts of the account -->
  <%= render 'posts' %>
</section>
