<% provide :page_title, t('page.account.profile_of', user: @account.capitalize_name ) %>
<% currently_at t("navbar.profile", user: @account.capitalize_name ) %>

<article class="article">
  <h2 class='mt-4 mb-2'><%= t('page.account.profile_of', user: @account.capitalize_name ) %></h2>
  <div class='row row-cols-2'>
    <div class='col'>
      <!-- user's profile -->
      <% if @account.user_id == current_user.id || @account.visibility == 'everybody' %>
        <%= render 'profile' %>
      <% elsif @account.visibility == 'friends' && check_friendship?(current_user.account, @account) %>
        <%= render 'profile' %>
      <% else %>
        <%= t('page.account.profile_closed') %> 
      <% end %>    
    </div>
    <div class='col'>   
      <% if @account.user_id == current_user.id %>
        <!-- buttons for current user -->
        <%= render 'own_buttons' %>
      <% else %>
        <% if check_friendship?(current_user.account, @account) %>
          <p class='text-end'><%= t('page.friendship.exists', user: @account.user_name) %></p>
          <%= render partial: 'friendships/delete_button', 
              locals: { path: account_friendship_path(@account, find_friendship(current_user.account, @account)) } %>  
        <% else %>
          <%= render 'accounts/invites/invite' %>
        <% end %>
        <%= render 'accounts/messages/send_message_from_account_page' %>   
      <% end %>
    </div>
  </div>
</article>
<section>
  <%= render 'accounts/posts/posts' %>
</section>
